$color-primary: #000;
$color-secondary: rgba(92, 53, 86, 1);
$color-landing: rgb(246, 244, 246);
$color-yellow: rgb(230, 181, 99);
$color-background: #ffffff;
$color-text: #000;
$color-grey: #c0c0c0;
$color-greystrong: #969696;
$color-landinglow: rgba(246, 244, 246, 0.3);
