.edition {
  .imagen-fluida {
    width: 100%;
    max-width: 280px;
  }
  .image-container {
    position: relative;
    width: auto; /* o cualquier ancho específico que desees */
  }

  .camera-icon-btn {
    position: absolute;
    right: 25px;
    z-index: 10;
    width: 46px; /* Ajusta según el tamaño que desees para el círculo */
    height: 46px; /* Ajusta según el tamaño que desees para el círculo */
    border-radius: 50%; /* Esto lo convierte en un círculo */
    background-color: rgba(
      255,
      255,
      255,
      0.5
    ); /* Color negro semitransparente */
    display: flex;
    justify-content: center; /* Centra el icono horizontalmente */
    align-items: center; /* Centra el icono verticalmente */
    border: 0px;
    padding: 0; /* Puede que necesites ajustar el padding dependiendo de tus íconos */
    transition: background-color 0.3s;
  }

  .camera-icon-btn:hover {
    background-color: rgba(
      173,
      9,
      9,
      0.8
    ); /* Color negro más oscuro al hacer hover */
  }

  .btn-edit {
    top: 10px;
  }

  .btn-save {
    bottom: 10px; /* Ajusta según la altura de tus botones */
  }

  .btn-cancel {
    bottom: 62px; /* Ajusta según la altura de tus botones */
  }

  .edit-camera-icon {
    width: 30px;
    height: auto;
    display: block;
  }
  .edit-camera-icon svg path {
    width: 30px;
    fill: $color-yellow;
  }

  .input-icon-container {
    position: relative;
    width: 100%;
    display: inline-block;
  }

  .input-icon {
    position: absolute;
    right: 5px; /* o la cantidad que necesites para el padding deseado */
    top: 50%;
    transform: translateY(-50%);
    height: 20px; /* o la altura que quieras para el ícono */
    width: auto;
  }
  .greencolor {
    color: rgb(2, 145, 2);
  }
  label {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
  }
  /* Si deseas añadir padding al input para evitar que el texto se superponga con el ícono */
  input {
    width: 100%;
    padding-right: 30px; /* o la cantidad necesaria según el tamaño de tu ícono */
  }

  .edition__preferences-title {
    border-bottom: 1px solid #b1b1b1;
    padding-bottom: 6px;
  }

  .edition__preferences-content {
    font-size: 13px;
  }

  .multiple-select {
    height: 180px;
  }

  optgroup {
    font-weight: 100;
    color: rgb(211, 211, 211);
  }
  .badge {
    margin-bottom: 4px;
  }
}
