.bg-body-tertiary {
  background-color: #ffffff;
}

.navigation {
  .navigation__logotipo {
    height: 48px;
  }

  /* Estilos para el contenedor de los submenus */
  .submenu-container {
    display: flex;
    justify-content: center;
    padding: 10px 0; /* Si deseas espacio vertical entre submenus */
  }

  .navigation__logotipo {
    height: 48px;
  }

  .navbar-home-icon {
    margin-top: -7px;
    width: 24px; // Ajusta según tus necesidades
    height: 24px; // Ajusta según tus necesidades
    margin-right: 5px; // Espacio entre el icono y el texto "Home"
  }

  .navbar-divider {
    background-color: #000;
    border-left: 1px solid #000;
    height: 100%;
    width: 1px;
    margin: 8px 16px 0 22px;
  }

  @media (max-width: 767.98px) {
    .navbar-divider {
      display: none;
    }
  }

  .btn-primary {
    background-color: transparent;
    padding: 0px;
    border: 0px;
  }

  .btn-primary:active {
    background-color: transparent;
    padding: 0px;
    border: 0px;
  }

  .navigation__logout-btn {
    padding-top: 8px;
    padding-bottom: 8px;
    color: $color-secondary;
  }

  .navigation__logout-btn:hover {
    color: $color-primary;
  }

  .navigation__logout-btn:active {
    padding-top: 8px;
    padding-bottom: 8px;
    color: $color-yellow;
  }

  .navigation__btn {
    padding-top: 8px;
    padding-bottom: 8px;
    color: $color-primary;
  }

  .navigation__btn:hover {
    color: $color-secondary;
  }

  .navigation__btn:active {
    padding-top: 8px;
    padding-bottom: 8px;
    color: $color-yellow;
  }

  .nav-link {
    color: $color-primary;
  }

  /* NAVBAR DASHBOARD */

  .dashboard-navigation {
    .bg-body-primary {
      background-color: black;
      width: 100%;
    }

    .nav-link {
      color: #ffffff;
    }

    .dropdown {
      position: static !important;
    }

    .dropdown-item {
      /* Si deseas espacio entre los items */
      margin: 0 5px;
    }

    .dropdown-menu {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      margin-top: 0px !important;
      width: 80% !important;
      left: 10%;
    }
    @media (max-width: 950px) {
      .dropdown-menu {
        width: 100% !important;
        left: 0 !important;
      }
    }
  }
}
