.landing-base {
  background-color: red;
}

.landing {
}

.landing__carousel {
  background-color: pink;
}

.landing__how {
  background-color: green;
}

.landing__start {
  background-color: orange;
}
