.landing-base {
  background-color: red;
}

.landing {
}

.landing__carousel {
  background-color: rgb(246, 244, 246);
}

.landing__how {
  background-color: #ffffff;
}

.landing__start {
  background-color: #ffffff;
}
.landing__logotipo {
  height: 68px;
}

.landing__icon-1 {
  width: 100%;
}

.landing__button-primary {
  width: 250px;
  height: 50px;
  border-radius: 28px;
  border: 4px solid #000;
  color: rgb(230, 181, 99); // Cambiar color de texto
  background-color: black; // Cambiar color de fondo a negro
  font-family: "Merriweather", serif;
  font-weight: 700;

  &:hover {
    background-color: rgba(92, 53, 86, 1);
    color: white;
  }
}

.landing__big-button-primary {
  width: 360px;
  height: 60px;
  border-radius: 28px;
  border: 4px solid #000;
  font-size: 24px;
  background-color: rgba(92, 53, 86, 1);
  color: white;
  font-family: "Merriweather", serif;
  font-weight: 700;
  &:hover {
    color: rgb(230, 181, 99); // Cambiar color de texto
    background-color: black; // Cambiar color de fondo a negro
  }
}

.landing {
  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
    font-weight: 400;
  }
}

a.landing__link-context {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
a:hover.landing__link-context {
  color: rgb(230, 181, 99);
}

.landing {
  .carousel-inner {
    height: 380px !important;
    overflow: hidden;
  }

  .carousel-item {
    height: 100%;
  }

  .img-container {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .img-container img {
    height: 100%;
    object-fit: cover;
  }

  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
}

.landing__modal-dialog {
  width: auto;
  max-width: 800px;
  height: auto;
  max-height: none;
}
