.navigation-base {
  background-color: #ffffff;
}

.navigation {
  height: 100px;
}

.nav-item.navigation__item {
  .nav-link {
    color: #000; // Puedes usar cualquier color que prefieras

    // Cambia el color cuando se pasa el cursor por encima (hover)
    &:hover {
      color: rgb(97, 97, 97); // De nuevo, elige el color que mejor te parezca
    }
  }
}

.navigation__logotipo {
  height: 48px;
}

.navigation__iconos-nav {
  height: 22px;
}

.navigation__item--divider {
  border-right: 1px solid #ccc;
  padding-right: 1rem;
  margin-right: 1rem;
}

.navigation__item--accede {
  a.nav-link {
    color: #000; // Cambia esto al color que desees
    font-weight: 700;

    &:hover {
      color: rgb(
        230,
        181,
        99
      ) !important; // Cambia esto al color que desees para el hover
    }
  }
}
