.navigation-base {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.navigation {
  height: 100px;

  /* Cuando el menú está abierto */
  .menu-open {
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    position: absolute;
    top: 50px;
    left: -70px;
    display: block;
    border: 1px solid #cccccc;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agregar sombra */
    border-radius: 10px; /* Agregar bordes redondeados de 10px */
  }

  /* Cuando el menú está cerrado */
  .menu-closed {
    display: none; /* Ocultar el menú cuando está cerrado */
  }
}

.nav-item.navigation__item {
  .nav-link {
    color: #000; // Puedes usar cualquier color que prefieras

    // Cambia el color cuando se pasa el cursor por encima (hover)
    &:hover {
      color: rgb(97, 97, 97); // De nuevo, elige el color que mejor te parezca
    }
  }
}

.navigation__logotipo {
  height: 48px;
}

.navigation__iconos-nav {
  height: 22px;
}

.navigation__profile-icon {
  height: 24px;
}
.navigation__item--divider {
  border-right: 1px solid #ccc;
  padding-right: 1rem;
  margin-right: 1rem;
}

.navigation__item--accede {
  a.nav-link {
    color: #000; // Cambia esto al color que desees
    font-weight: 700;

    &:hover {
      color: rgb(
        230,
        181,
        99
      ) !important; // Cambia esto al color que desees para el hover
    }
  }
}
